<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="controller/my.controller.js"></script>
    <script src="controller/user.controller.js"></script>
    <!--<script src="directive/my.directive.js"></script>-->
    <style>
        input.ng-invalid {
            background-color: red;
        }    
        input.ng-untouched {
            background-color: white;
        }
    </style>

</head>

<body>

    <div ng-app="myApp" ng-init="names=['Ralf','Viktor','Tom']">
        <div ng-controller="myCtrl as ctrl">
            <form name="userForm">
                <p>FistName: <input type="text" ng-model="ctrl.firstName" /></p>
                <p>LastName: <input type="text" ng-model="ctrl.lastName" /></p>
                <p>Email: <input type="email" ng-model="email" name="email" required><span ng-show="userForm.email.$error.email">Not a valid e-mail address</span></p>
                <h2>Status</h2>
                <ul>
                    <li>Valid: {{userForm.email.$valid}}</li>
                    <li>Dirty: {{userForm.email.$dirty}}</li>
                    <li>Touched: {{userForm.email.$touched}}</li>
                </ul>
            </form>
            <p>Full Name: {{ctrl.firstName + " " + ctrl.lastName}}</p>
            <p>Colleages:
                <ul>
                    <li ng-repeat="name in names">{{name}}</li>
                </ul>
                <!--   <test-directive></test-directive>-->
            </p>
        </div>
        <div ng-controller="userController as uCtrl">
            <p>Some other Name:
                <h1 ng-click="uCtrl.changeName()">{{uCtrl.otherName}}</h1>
            </p>
        </div>
    </div>

</body>

</html>